html {
            height: 100vh;
            background-color: #fafafa;
        }

        body {
            display: flex;
            flex-direction: column;
            margin: 0 10px;
            height: 100%;   
        }

        .btn-group {
            display: flex;
            width: fit-content;

            & > .btn:nth-of-type(1) {
                border-radius: 4px 0 0 4px;    
            }
            & > .btn:nth-last-of-type(1) {
                border-radius: 0 4px 4px 0;    
            }

        }

        .btn {
            border: none;
            border-radius: 4px;
            padding: 5px 15px;
            background-color: #fff;
            cursor: pointer;

            &:hover {
                background-color: #fafafa;
            }

            &:active {
                background-color: #eeeeee;
            }
        }

        .btn-mustard {
            background-color: #ffb404;
            &:hover {
                background-color: #ffc404;
            }
            &:active {
                background-color: #ffa200;
            }
        }

        .btn-error {
            background-color: #dc3545;
            color: #fff;
            &:hover {
                background-color: #cc3545;
            }
            &:active {
                background-color: #ac3545;
            }
        }

        .btn-black {
            background-color: #444;
            color: #fff;
            &:hover {
                background-color: #333;
            }
            &:active {
                background-color: #111;
            }
        }