header {
    display:flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    height: 50px;
    background-color: #a4a4a4;

    .main-title {
        margin: 0;
        font-size: 15px;
        color: #fff;
        cursor:default;
    }
}

main {
    display: flex;
    flex-grow: 1;  /* flex영역에서 남은 여백을 꽉 채우는 행위 */
    background-color: #fafafa;
}

aside {
    min-width: 200px;
    width: 200px;
    height: 100%;
    background-color: gray;

    .aside-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 20px 0;
        background-color: #2f2f2f;

        .aside-student-name {
            margin: 0;
            font-size: 17px;
            color: #fff;
            cursor: default;
        }
    }

    .aside-menu-list {
        list-style-type: none;
        margin: 0;
        padding: 0.1px 0;
        background-color: #2f2f2f;

        & > a {
            text-decoration: none;
            color: #fff;
        }

        .aside-menu-item {
            display: flex;
            align-items: center;
            margin: 1px 0;
            padding: 15px;
            background-color: #808080;
            
            &:hover {
                background-color: #5f5f5f;
            }

            &:active {
                background-color: #2f2f2f;
            }

            & > div:nth-of-type(1) {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
            }

            & > div:nth-of-type(2) {
                padding-left: 5px;
            }
        }
    }
}

article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 8px;
    min-width: 1000px;
    background-color: #fff;


    .main-top {
        width: 100%;
        height: 180px;
        margin-bottom: 5px;
    
    }

    .main-body {
        width: 100%;
        flex-grow: 1;
        margin-top: 5px;

    }
}

.course-info-container {
    
    .course-info-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: 10px;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        & > h2 {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
        }
    }
    
}

.course-info-item-group {
    display: flex;
    flex-wrap: wrap;
    gap:10px;

    .course-info-item {
        display: flex;
        box-sizing: border-box;
        border: 1px solid #dbdbdb;
        border-radius: 4px;
        width: fit-content;

        .course-info-label {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 5px;
            width: 100px;
            background-color: #00000011;
            font-weight: 500;
            color: #222222;
        }

        .course-info-text {
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid #dbdbdb;
            box-sizing: border-box;
            padding: 5px;
            min-width: 150px;
        }
    }
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 4px;
    padding: 10px;
    background-color: #2f2f2f;

    & > a {
        text-decoration: none;
        color: #fff;
    }
    
    
    .nav-list-item {
        box-sizing: border-box;
        padding: 5px 10px;
        transition: all 02.s ease-in-out;
        
        &:hover {
            transform: scale(105%);
            text-shadow: 0 0 5px #ffffff33;
        }
    }
}
