.box1 {
    box-sizing: border-box;
    margin: 50px;
    border: 5px solid #00000000;
    padding: 25px;
    width: 100px;
    height: 100px;
    background-color: black;
    background-clip: border-box;
}

.box2{
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    padding: 50px;
    width: 300px;
    height: 300px;
    background-color: skyblue;
}

.box3{
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    width: 100%;
    height: 100%;
    background-color: yellow;
}

.button {
    margin: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px 10px;

    padding: 20px 15px;
    width: fit-content;
    height: fit-content;
    background-color: #fafafa;
    cursor: pointer;
    
}
/*  */

.circle {
    border-radius: 50%;
    width: 150px;
    height: 300px;
    background-color: blue;

}